
contas.xlsx
dados.txt
Leandro Peixoto.png
Mariclea Martini.png
Michele Bernardino.png
Paulo França.png
usuarios.txt
drew.jpg
pasta - Copia.txt
pasta.txt
watermark.pdf
__pycache__/conciliacoes.cpython-39.pyc
